 [ req ]
		default_bits       = 2048
		distinguished_name = req_distinguished_name
		req_extensions     = v3_req
		prompt = no
		
		[ req_distinguished_name ]
		C  = DE
		O  = MyOrg
		CN = app15
		
		[ v3_req ]
		keyUsage = digitalSignature, keyEncipherment
		extendedKeyUsage = clientAuth, serverAuth
		subjectAltName = @alt_names
		
		[ alt_names ]
		URI.1 = app15:uri
		DNS.1 = localhost
		IP.1  = 127.0.0.1
